<h2><%= question_header(@question) %></h2>
<%= form_with(model: [@test, @question], locale: true) do |form| %>
  <p>
    <%= form.label :body %>
    <%= form.text_field :body%>
  </p>
  <p><%= form.submit %></p>
<% end %>