<%= form_with model: [:admin, @badge], local: true do |form| %>
<%= render 'shared/errors', resource: @badge %>

  <p>
    <%= form.label :title, class: 'form-label' %>
    <%= form.text_field :title, class: 'form-control'%>
  </p>

  <p>
    <%= form.label :rule, class: 'form-label' %>
    <%= form.select :rule, Badge::RULE_TYPES, {prompt: true}, class: 'form-select' %>
  </p>

  <p>
    <%= form.label :value, class: 'form-label' %>
    <%= form.text_field :value, class: 'form-control'%>
  </p>

  <p>
    <%= form.label :url, class: 'form-label' %>
    <%= form.select :url, %i"badge.png", {prompt: true}, class: 'form-select' %>
  </p>




  <p><%= form.submit %></p>
<% end %>